@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  box-sizing: content-box;
  height: 100vh;
  background-image: repeating-linear-gradient(
    145deg,
    #e4e4e4,
    #e4e4e4 3px,
    #c1d3de 3px,
    #c1d3de 6px
  );
}

.App {
  background: linear-gradient(to top, #40e0d0, #ff8c00, #ff0080);
  max-width: 85vw;
  min-height: 70vh;
  margin: auto;
  padding: 12px;
  border-radius: 3px;
  border: solid 1.5px #303030;
}

/* .Header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #303030;
  font-family: Arvo;
  font-size: 1.9rem;
} */
